
$background-color: #FFF;
$text-color:#363431;
$green: #74B900;
$green-light: #C7DF9E;
$white: #FFF;
$white-dark: #F3F3F3;
$gray: #C6C6C6;
$copyright: #828282;


@mixin main-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 50px;
}

@mixin title {
    font-size:48px;
    line-height: 46px;
    font-weight: 400;
    color: $text-color;
    text-align: center;
    margin: 50px 0;
}

@mixin title-min {
    font-size: 28px;
    line-height: 27px;
    margin: 30px 0;
}

@mixin main-page {
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 50px;
    margin: 0;
}

@mixin subtitle {
    font-size:22px;
    line-height: 32px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
}

@mixin text {
    font-size:16px;
    line-height: 22px;
    font-weight: 300;
    color: $text-color;
    text-align: left;
    margin: 0 0 16px;

    &:last-child{
        margin: 0;
    } 
}