@import '../../base.scss';

.main {
    @include main-page;
}

.title {
    @include title;
}

.list {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 0 0 30px;
    margin: 0;
    gap: 32px;
}

.item {
    display: flex;
    flex-direction: column;
    
}

.subtitle {
    @include subtitle;
}

.text {
    @include text;
}

@media(max-width: 768px){
    .title{
        @include title-min
    }

    .list {
        flex-direction: column;
    }
}